@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>

<div style="margin-top: 50px;">
    <img src="~/Content/img/perfil.jpg" alt="Foto Marcio Coelho" height="300" />
</div>

<div>
    <h4>Marcio Coelho</h4>
</div>

<div style="margin-top: 50px;">
    <h5 style="font-weight: bold;">Desenvolvedor de softwares desde 1992, especializado na plataforma .NET, e em ERPs voltados para a área de turismo e industrial.</h5>
    <h5>Github com projetos ASP.NET Core, dentre outros: <a href="http://github.com/marciocoelho31" target="_blank">http://github.com/marciocoelho31</a></h5>
    <h5>Certificado em 2019 como Scrum Fundamental Certified (ScrumStudy).</h5>
    <h5>Certificado em 2014 pela Sociedade Latino Americana de Coaching (SLAC) como Professional Coach e analista de Perfil Comportamental DiSC.</h5>
</div>
